POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=data_repository
POSTGRES_USER=datarepo
POSTGRES_PASSWORD=datarepo
HARBOR_URL=https://imgrepo.damit.hu
HARBOR_USERNAME=robot_supernova+aiops
HARBOR_PASSWORD=
LOG_LEVEL=INFO
